.body-content {
    margin-top: 72px;

}

td, th {
    padding: 12px;

}

th {
    text-align: center;
    color:darkblue;
    font-size:16px;
}

td {
    vertical-align: top;
    color:darkblue;
    font-size:16px;

   }

tr:nth-child(odd) {
    background-color: lightblue;

}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;

}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 60px;
}
.centered {
    text-align: center;
}
table.list tr{
align:center;
}
